body {
    transition: background-color 0.5s, color 0.5s;
}

.light-theme {
    background-color: #f0f0f0;
    color: black;
}

.dark-theme {
    background-color: #141414;
    color: white;
}

.fade {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-icon {
    font-size: 2rem;
    transition: transform 0.3s;
}

.nav-icon:hover {
    transform: scale(1.2);
}
